@import './normalize.css';

* {
  box-sizing: border-box;
}

:root {
  --orange: #ff4f02;
  --yellow: #ffaf02;
}

body {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  height: 100vh; width: 100vw;
}

#app {
  height: 100%; width: 100%;
  position: relative;
}

#app::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 98;
  background: url(../img/texture.png);
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  pointer-events: none;
}